// color
$black-color1: #ffff00;

// Width Size
$width-tablet: 1199px;
$width-tablet2: 1023px;
$width-mobile: 767px;

// Fonts
$font-wR: 'walsheimR';
$font-wM: 'walsheimM';
$font-wT: 'walsheimT';
$font-wB: 'walsheimB';